{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h1>Welcome to Triton Pub</h1>
</div>

<div class="container">
    <p>The Triton Pub is a great place to be around friends, grab some food, relax, get school work done, or just hang out. There are often events held at the Pub such as live school concerts and movie nights, creating a fun and lively environment. Whether you're looking for a quick bite, a full meal, or just a place to chill, the Triton Pub has something for everyone.</p>
    <a href="{% url 'menu' %}" class="button">View Menu</a>
    <a href="{% url 'register' %}" class="button">Order Now</a>
</div>

<div class="hours">
    <h2>Hours of Operation</h2>
    <p><strong>Retail Hours:</strong> Monday – Sunday, 11:00 AM – 10:00 PM</p>
    <p><strong>Lunch Meal Swipe:</strong> 11:00 AM – 2:00 PM</p>
    <p><strong>Dinner Meal Swipe:</strong> 7:00 PM – 10:00 PM</p>
</div>
{% endblock %}