{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h1>Order from Triton Pub</h1>
</div>

<div class="container">
    <div class="form-container">
        <form action="{% url 'order_placed' %}" method="POST">
            {% csrf_token %}

            <label for="{{ form.meal.id_for_label }}">Select Your Meal:</label>
            {{ form.meal }}

            <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
            {{ form.quantity }}

            <button type="submit" class="button">Place Order</button>
        </form>
    </div>
    <div class="nav-buttons">
        <a href="{% url 'menu' %}" class="button">Back to Menu</a>
        <a href="{% url 'home' %}" class="button">Home</a>
    </div>
</div>
{% endblock %}
