{% extends 'orders/base.html' %}
{% load custom_filters %}

{% load static %}

{% block content %}

    <style>
        .progress-bar {
            margin-top: 30px;
            width: 100%;
            background-color: #ddd;
            border-radius: 8px;
            overflow: hidden;
        }
        .progress-bar-fill {
            height: 20px;
            width: 0%;                     
            background-color: teal;
            transition: width 0.5s ease-in-out; 
        }
    </style>

<div class="banner">
    <h1>Order Placed Successfully!</h1>
</div>

<div class="container">
    <p id="status-message">🎉 Thank you for your order!</p>
    <div class="progress-bar">
        <div class="progress-bar-fill" id="progress-bar-fill"></div>
    </div>
    <a href="{% url 'order_details' order.id %}" style = "text-decoration: underline; color: black;">
        <p><strong>Order ID:</strong> {{ order.id }}</p>
    </a>
    <p><strong>Payment Method:</strong> {{order.payment_method}}</p>
    <p><strong>Delivery Method:</strong> {{order.delivery_method}}</p>
    {% if order.delivery_method == 'dorm' %}
        <p><strong>Dorm Location:</strong> {{ order.dorm_location }}</p>
    {% endif %}
    <p><strong>Phone Number:</strong> {{ user.userprofile.phone_number|phone_format }}</p>

    <a href="{% url 'menu' %}" class="button">Return to Menu</a>
    <a href="{% url 'account' %}" class="button">View my account</a>
</div>

<script>
    const orderId = "{{ order.id }}";
    const progressBar = document.getElementById('progress-bar-fill');
    const statusMsg = document.getElementById('status-message');

    function updateProgress(status) {
        if (status === 'pending') {
            progressBar.style.width = '33%';
            statusMsg.innerText = '👨‍🍳 Thank you for your order! Your order is in progress. Hang tight!';
        } else if (status == 'ready_for_pickup') {
            progressBar.style.width = '66%';
            statusMsg.innerText = '🎉 Your order is ready for pickup!';
        }else if (status === 'on_the_way') {
            progressBar.style.width = '66%';
            statusMsg.innerText = '🎉 Your order is on the way!';
        } 
        else if (status === 'completed') {
            progressBar.style.width = '100%';
            statusMsg.innerText = '✅ Your order is complete!';
        }
        else if (status === 'canceled') {
            progressBar.style.width = '100%';
            statusMsg.innerText = '❌ Your order was canceled.';
        }
    }

    function pollStatus() {
        fetch(`/check-status/${orderId}/`)
            .then(response => response.json())
            .then(data => {
                updateProgress(data.status);
                if (data.status !== 'completed' && data.status !== 'canceled') {
                    setTimeout(pollStatus, 5000);  // check again in 5 seconds
                }
            });
    }

    pollStatus();
</script>
{% endblock %}
